.feedbackStatus {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
}

.feedbackRating {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0 40px;

  li {
    margin: 10px 3px;
  }
  [type="radio"] {
    opacity: 0;
  }

  [type="radio"]:checked ~ label {
    background: #ff6a95;
    color: #fff;
    padding: 5px;
  }
}

.feedbackInputGroup {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;

  input {
    flex-grow: 2;
    font-size: 16px;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
